
<div class="secondary-aside">
    <aside class="aside">
        <h3>Admin</h3>
        <ul class="side-nav">
            <li>@Html.ActionLink("Created Pages/News", "Index", "News")</li>
            <li>@Html.ActionLink("Emergency Wait Room", "Index", "EmergencyPatients")</li>
            <li>@Html.ActionLink("Directions/Services", "Index", "Amenities")</li>
        </ul>
    </aside>
</div>