<div class="secondary-aside">
    <aside class="aside">
        <h3>Contact</h3>
        <ul class="side-nav">
            <li>@Html.ActionLink("Directions", "Index", "Directions")</li> <!-- YOU MAY CHANGE THIS IF YOU LIKE. NOTHING ELSE PLEASE -->
        </ul>
    </aside>
</div>

